body {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 20px;
}

.container {
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #00462A;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00462A;
}

#result, #news, #trend {
    margin-top: 20px;
    text-align: left;
}

.subtitle {
    font-size: 11px;
    color: #000;
    margin-top: -8px;
    margin-bottom: 10px;
    text-align: center;
}